.background {
  display: flex;
  height: 150px;
  align-items: center;
  justify-content: space-evenly;

  background: #a563f0;
}


.aprendaBox {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.valueBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timerBox {
  max-width: 125px;
  display: flex;
  flex-direction: column;
}
