.header {
  display: flex;
  width: 1920px;
  height: 105px;
  left: 0px;
  top: 0px;

  background: #333333;

  justify-content: space-between;
  align-items: center;
  padding-left: 352px;
  padding-right: 352px;

  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.rect2 {
  /* Rectangle 3 */
  display: flex;
  width: 1920px;
  height: 5px;
  left: 0px;
  top: 100px;

  /* blue */

  background: #2f71fd;
}

.container {
  display: flex;
  justify-self: flex-end;
  align-items: center;
}


.logo {
  display: flex;
  width: 159.45px;
  height: 50px;
}

.btnEntrar {
  display: flex;
  width: 132px;
  height: 51px;
  margin-left: 25px;

  justify-content: center;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  text-align: center;

  /* white */

  color: #ffffff;
}

.cursos {
  display: flex;
  margin-left: 25px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  text-align: center;

  /* white */

  color: #ffffff;
}


.divider {
  display: flex;
  width: 2px;
  height: 50px;
  margin-left: 25px;

  /* white */

  background: #ffffff;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url(../fonts/Poppins-Regular.ttf) format("truetype");
}
