.titles {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;

  letter-spacing: -1px;

  color: #333333;
}

.descTitle {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;

  letter-spacing: -1px;

  color: #333333;

  margin-top: 50px;
}

.descricao {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  color: #bdbdbd;

  margin-top: 20px;
}

.requirements {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;

  letter-spacing: -1px;

  color: #333333;

  margin-top: 75px;
}

.courseTitle {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  /* or 150% */

  letter-spacing: -1px;

  /* blue */

  color: #2f71fd;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-self: flex-start;
  max-width: 592px;
}

.midiaContainer {
  display: flex;
  flex-direction: column;
  margin-left: 136px;
  width: 488px;
}

.image {
  border-radius: 10px;
  height: 260.11px;
}

.btnBuy {
  border-radius: 6px;
  margin-top: 15px;

  background: #2f71fd;
  border-radius: 6px;
}

.btnText {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  /* white */

  color: #ffffff;
}

.priceTag {
  display: flex;
  justify-content: flex-end;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;

  margin-top: 30px;

  letter-spacing: -1px;

  /* carbon */

  color: #333333;
}

.courseContent {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;

  letter-spacing: -1px;

  margin-top: 40px;
}

.playlist {
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 10px;

  margin-top: 19px;
}
